/* selecting all section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

img {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #21263A;
}

@keyframes spin1 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(180deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* loader */
.Load {
    overflow: hidden;
    margin: auto;
    position: fixed;
    z-index: 9999;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: relative;
}

.quater {
    height: 1.5cm;
    width: 1.5cm;
    background-color: skyblue;
    float: left;
    position: relative;
    bottom: 1.25cm;
}

.i {
    border-top-left-radius: 100%;
    animation: spin1 2s ease-in-out infinite;
    transform-origin: 1.5cm 1.5cm;
}

.ii {
    border-top-right-radius: 100%;
    animation: spin2 2s ease-in-out infinite;
    transform-origin: 0 1.5cm;
}

/* body Section */
body {
    background-color: #0A0E18;
    font-family: lato;
    height: 10dvh;
    width: 100dvw;
    overflow-y: hidden;
}

/* ANY DIALOG WHEN IT OPENS */
dialog {
    background: none;
    margin: auto;
    /* Add display */
    transition: opacity 0.7s ease-in, display 0.7s ease-in;

    /* Add transition-behavior */
    transition-behavior: allow-discrete;

    /* Style when open */
    opacity: 1;
}

/* The style when closed */
@starting-style {
    dialog {
        opacity: 0;
    }
}

/* The style when closed */
dialog:not([open]) {
    opacity: 0;
}

/* ANY BACKDROP DIALOG */
dialog::backdrop {
    backdrop-filter: blur(10px);
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 64px;
    box-shadow: 0px 0px 1px black;
    cursor: pointer;
    padding: 4px 12px;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

figcaption {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1px;
}

header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* main section */
main {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* suggestions */
.suggestions {
    width: 808px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 0px;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #21263A;
    padding: 10px;
    border-radius: 10px;
    background: #141822;
    color: lightgray;
    font-family: Lato;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    height: 100%;
}

/* form Section */
form {
    width: 808px;
    position: relative;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nor {
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

textarea {
    width: 808px;
    height: 116px;
    outline: none;
    resize: none;
    padding: 14px;
    color: #ffffff;
    background-color: #141822;
    font-size: 14px;
    font-family: lato;
    border-radius: 16px;
    border: #21263A 1px solid;
}

textarea::placeholder {
    opacity: 70%;
}

form button {
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 13px;
    width: 38px;
    aspect-ratio: 1/1;
    border: 1px solid #21263A;
    background-color: transparent;
    line-height: 10px;
    cursor: pointer;
}

form button:nth-child(2) {
    right: 59px;
}

span {
    width: 808px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}

span:nth-child(2) {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 6px;
    font-weight: 400;
    opacity: 50%;
}

/* Messges section */
.Messages {
    width: 808px;
    max-height: 50vh;
    display: none;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.Messages::-webkit-scrollbar {
    width: 10px;
}

#user,
#ai {
    align-self: flex-end;
    display: flex;
    width: max-content;
    align-items: end;
    flex-direction: row-reverse;
    gap: 12px;
    margin-bottom: 10px;
    max-width: 400px;
}

#user {
    margin-right: 10px;
}

#ai {
    flex-direction: row;
    align-self: flex-start;
}

#Logo {
    border-radius: 50%;
    background: linear-gradient(90deg, #7F00FF 0%, #3D05DD 100%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#UserText,
#aiText {
    color: #ffffff;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid #21263A;
    border-radius: 12px 0 12px 12px;
    font-size: 14px;
}

#UserText {
    max-width: 100%;
    overflow: auto;
}

#aiText {
    border-radius: 0 12px 12px 12px;
    border: none;
    width: max-content;
    background-color: #141822;
    max-width: 760px;
    font-size: 14px;
}


@media screen and (max-width:810px) {

    body,
    .Messages {
        overflow-y: hidden;
    }

    form,
    section,
    .Messages,
    .Hello,
    .suggestions {
        width: 95.3vw;
    }

    #aiText {
        max-width: 70vw;
    }
}

@media screen and (max-width:450px) {
    .suggestions {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}